
.app {
  display: flex;
  flex-direction: column;
  min-height: fit-content;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #f6ddcc;
  color: #7b241c;
display: flex;

}

.content {
  flex: 1;
}

.footer {
  background-color: #f2f2f2;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.menu li {
  display: inline-block;
  margin-right: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.section {
  margin: 50px 0;
}
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
  padding-left: 20px;
}

nav li a {
  color: #17202a;
  text-decoration: none;
}

main {
  padding: 20px;
}


.home {
  text-align: left;
  margin-top: 50px;
}

.accordion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion {
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f5f5f5;
  cursor: pointer;
}

.accordion-header h2 {
  margin: 0;
}

.accordion-content {
  padding: 10px;
  background-color: #fff;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
}
.bullet-list {
  list-style-type: disc;
  padding-left: 20px;
}
.container {
  display: flex;
  align-items: flex-start; 
  min-height: 80vh;
}
.image-logo {
  width: 150px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
}
.image {
  width: 300px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover;
}
.text-container {
  align-items: center; /* Center the text vertically */
  justify-content: center; /* Center the text horizontally */
  height: 300px; /* Adjust the container height as needed */
  border: 1px solid #ccc; /* Optional: Add a border for visualization */
  margin-left: 10px; /* Add spacing between the image and text */
}
.text {
  margin-left: 10px; /* Add spacing between the image and text */
  font-size: 14px;
}
.schedule {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px; /* Adjust the gap between sections as needed */
}
.meet {
  text-align: center;
}
h2 {
  text-align: center;
}
table {
  border-collapse: collapse;
  width: 70%;
  align-items: center;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e9e9e9;
}
.schedule-container {
 background-color: lightgrey;
 text-align: center;
  min-height: 70vh;
}
button {
  background-color: rgba(255, 166, 0, 0.574);
  font-style: italic;
  font-size: 16px;
  width: 150px;
  height: 30px;
}
.schedule-table {
  width: 100%;
}
.events {
  text-align: center;
}
.header-div {
  width: 100%;
}